<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/estg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketESTG"
        tools:targetApi="31" >
        <activity
            android:name=".Admin.Ticketadmin"
            android:exported="false" />
        <activity
            android:name=".Admin.histoadmin"
            android:exported="false" />

        <activity
            android:name=".Admin.Menuadmin"
            android:exported="false"
            android:label="@string/title_activity_menuadmin"
            android:theme="@style/Theme.TicketESTG" />
        <activity
            android:name=".User.Menuuser"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".registo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>